*,
*::before
*::after
{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(5, 125, 194);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 2;
}

.header{
    background-color: rgb(19, 192, 134);
    height: 100px;
}

.conteiner{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    height: 90px;
    width: auto;
}

.header__nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn{
    padding: 10px;
    cursor: pointer;
}
.header__button_colored{
    background-color: rgb(31, 165, 31);
    color: #fff;
}